.page {
  height: 100vh;
  background: #af87ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card {
  width: 950px;
  height: 650px;
  background: linear-gradient(135deg, #ef89fa, #7fb0e8);
  border-radius: 16px;
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 520px;
  padding: 30px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: white;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #ffffff;
  color: #021d40;
  font-weight: bold;
  cursor: pointer;
}

.main-card::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  top: -50px;
  right: -50px;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #ffffff;
  color: #011c3f;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.signup-label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; 
  border-radius: 6px;
  border: none;
  outline: none;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  font-size: 18px;
}

.signup-login {
  margin-top: 1rem;
}